__pycache__/dataloader.cpython-38.pyc
__pycache__/layer.cpython-38.pyc
__pycache__/model.cpython-38.pyc
__pycache__/snippet.cpython-38.pyc
__pycache__/spans.cpython-38.pyc
log/MAMS/training_2022-10-17-17_20_55.log
log/MAMS/training_2022-10-17-17_22_20.log
log/MAMS/training_2022-10-17-17_25_19.log
log/MAMS/training_2022-10-17-17_26_25.log
__pycache__/vocab.cpython-38.pyc
